@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background:linear-gradient(to top,#1f1f1f, #dbc339);
} 
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 10000;
    background: black;
}
.logo-image
{
    position:absolute;
    width: 15%;
    height: auto;
    z-index: 10001;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    text-decoration: none;
    padding: 16px 50px;
    color: #fff;
}
header ul li a:hover
{
    background: rgb(32, 32, 32);
}
header ul li a.active
{
    background: linear-gradient(rgb(53, 53, 53) 0px, rgb(53, 53, 53) 95%, white 96%);
    color:#fff;
}
header div
{
    display: none;
    position: absolute;
    top: 55px;
    height: 200px;
    width: 100%;
    background: rgb(32, 32, 32);
    justify-content: center;
    align-items: center;
}
/*header div li:first-child
{
    margin-left: 250px;
}*/
header div li
{
    border: 5px solid #fff;
    width: 20%;
    height: 77%;
    border-radius: 20px;
    list-style: none;
    margin: 50px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
header div li a img
{
    width:100%;
    filter:brightness(.65);
    transition: filter 0.15s ease;
}
header div li a img:hover
{
    filter:brightness(1);
}
/*header div#divGalas li img
{
    width:41%;
}*/
header div li:hover
{
    background: #fff;
    color: rgb(32, 32, 32);
}
header div#divGalas li a.active img
{
    filter:brightness(1);
}
.social{
    display: flex;
    background: black;
    padding: 10px;
    width: 100vw;
    justify-content: right;
    align-items: center;
}
.social span
{
    margin-right: 20px;
    color:white;
}
.social a
{
    margin-right: 40px;
    height: 30px;
    width: 30px
}
.social a img
{
    width: 100%;
    filter:invert();
}